import * as rootParams from 'next/root-params';
import { getRequestConfig } from 'next-intl/server';
import { constants } from '../constants';
import type { Locale } from '<%= libPath %>/shared/utils/i18n';

export default getRequestConfig(async ({ locale }) => {
  if (!locale) {
    const paramValue = await rootParams.locale();
    locale = (
      paramValue && constants.locales.includes(paramValue as Locale) ? paramValue : constants.defaultLocale
    ) as Locale;
  }

  return {
    locale,
    messages: {
      '<%= sharedTranslationsKey %>': (await import(`../../../i18n/<%= directory %>/shared/${locale}.json`)).default,
    },
  };
});
