import React, {Fragment, ReactElement} from 'react';

interface <%= name %>Props {
  // TODO: Describe props
}

export function <%= name %>(props: <%= name %>Props): ReactElement {
  // TODO: Implement component
  return <Fragment />;
}
