import * as Sentry from '@sentry/nextjs';

Sentry.init({
  dsn: '<%= dsn %>',
  environment: process.env.NEXT_PUBLIC_APP_ENV,
  dataCollection: {},
  tracesSampleRate: 1,
  enableLogs: true,
  debug: false,
  // You can remove this option if you're not planning to use the Sentry Session Replay feature:
  integrations: [
    Sentry.replayIntegration(),
    Sentry.eventFiltersIntegration(),
  ],
  denyUrls: ['localhost'],
});

export const onRouterTransitionStart = Sentry.captureRouterTransitionStart;
