{
  "name": "<%= directory %>",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "apps/<%= directory %>",
  "projectType": "application",
  "tags": ["app:<%= directory %>", "type:app"],
  "targets": {}
}
