import { ReactElement } from 'react';
import { NextIntlClientProvider, useMessages } from 'next-intl';

export function Providers({
  children,
}: {
  children: React.ReactNode;
}): ReactElement {
  const messages = useMessages();

  return (
    <NextIntlClientProvider messages={messages}>
      {children}
    </NextIntlClientProvider>
  );
}
